*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
section{
    background: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: small;
    padding: 0
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-bottom: .2em;
    padding-top: .2em;
}
a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 0 1em;
}
a:hover{
    color: #00f;
}
p{
    margin: 0;
}