.fancy-header {
    color: cadetblue;
    text-decoration: underline;
}
.section-header {
    font-style: oblique;
}
body {
    font-family: sans-serif;
    color: saddlebrown;
    background-image: linear-gradient(to bottom, lightgoldenrodyellow,burlywood);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
}
label {
    display: inline-block;
    justify-content: center;
    text-align: center;
}