.fancy-header {
    color: cadetblue;
    text-decoration: underline;
}
.section-header {
    font-style: oblique;
}
body {
    font-family: sans-serif;
    color: saddlebrown;
    background-image: linear-gradient(to bottom, lightgoldenrodyellow,burlywood);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
}
.container {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}
.item {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 15px;
    align-self: flex-end;
}