body{
    background-color: #000;
    background: image(url(/css/img/digital_color.png));
    background-size: contain;
    min-height: 100%;
    background-blend-mode: overlay;
    color: whitesmoke;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 10px;
}
.section-header{
    color: firebrick;
    text-decoration: underline;
}