* {
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}

body {
    background: #191919;
    border: 20px solid RGB(30, 30, 30, 100);
}

section {
    background: #878787;
    border: 10px inset #333;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 2vw;
}

div {
    background: #4E8F63;
    border: 2px inset #333;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

textarea {
    background: #4E8F63;
    border: 2px inset #333;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    resize: none;
    line-height: 1em;
}

.alert {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    height: 59vw;
    width: 59vw;
    z-index: 4;
    transform: translateX(30vw) translateY(-9vw);
    font-size: small;
    border: 5px inset #333;
    border-radius: 25%;
    background: #4E8F63;
    overflow: auto;
    padding: 5vw 0
}

.hidden {
    visibility: hidden;
}

.mapboxgl-marker {
    background: transparent;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    background: transparent;
    border: none;
}

.mapboxgl-control-container * {
    background: transparent;
    border: none;
}

#alerts {
    height: 8vw
}

#location {
    justify-content: space-around;
    flex-wrap: nowrap;
}

#forecasts > div {
    display: flex;
}

#forecasts div {
    width: 100%;
    text-align: center;
}

#conditions {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

#conditions > div {
    min-width: 0;
    min-height: 0;
}

#map {
    border: 5px inset #333;
    border-radius: 25%;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 22;
    grid-row-end: 22
}

#alertsContainer {
    background: #BC5050;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 6;
    grid-row-end: 6;
    border-radius: 50%;
    font-size: 2em;
    color: #fff;
}

#humContainer {
    grid-column-start: 20;
    grid-row-start: 2;
    grid-column-end: 24;
    grid-row-end: 6;
    border-radius: 50%;
    font-size: 1.75em;
}

#tempContainer {
    grid-column-start: 2;
    grid-row-start: 19;
    grid-column-end: 7;
    grid-row-end: 24;
    border-radius: 50%;
    font-weight: bold;
    z-index: 5;
}

#condContainer {
    grid-column-start: 19;
    grid-row-start: 19;
    grid-column-end: 24;
    grid-row-end: 24;
    border-radius: 50%;
    font-size: 3em;
    z-index: 5;
}

@media screen and (min-width: 1024px) {
    #viewport {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    section {
        display: initial;
    }
}